<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
        Modifier le profil
        </ion-title>
    </ion-toolbar>
</ion-header>
  
<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Modifier le profil</ion-title>
        </ion-toolbar>
    </ion-header>
</ion-content>