<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mes Cours
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mes Cours</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item color="danger">
      <ion-label>
        Allemand
      </ion-label>
  </ion-item>
  <ion-item (click)="goToCoursDetail('Allemand')">
    <ion-avatar slot="start">
      <img src="../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <h2>Finn</h2>
      <h3>I'm a big deal</h3>
      <p>Listen, I've had a pretty messed up day...</p>
    </ion-label>
  </ion-item>
  <ion-item color="secondary">
    <ion-label>
      Anglais
    </ion-label>
  </ion-item>
  <ion-item (click)="goToCoursDetail('Anglais')">
    <ion-avatar slot="start">
      <img src="../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <h2>Finn</h2>
      <h3>I'm a big deal</h3>
      <p>Listen, I've had a pretty messed up day...</p>
    </ion-label>
  </ion-item>
  <ion-item color="warning">
    <ion-label class="colored">
      Historie - Géographie
    </ion-label>
  </ion-item>
  <ion-item (click)="goToCoursDetail('Histoire-Geographie')">
    <ion-avatar slot="start">
      <img src="../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <h2>Finn</h2>
      <h3>I'm a big deal</h3>
      <p>Listen, I've had a pretty messed up day...</p>
    </ion-label>
  </ion-item>
  <ion-item color="primary">
    <ion-label>
      Mathématiques
    </ion-label>
  </ion-item>
  <ion-item (click)="goToCoursDetail('Mathématiques')">
    <ion-avatar slot="start">
      <img src="../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <h2>Finn</h2>
      <h3>I'm a big deal</h3>
      <p>Listen, I've had a pretty messed up day...</p>
    </ion-label>
  </ion-item>
  <ion-item color="success">
    <ion-label>
      SVT
    </ion-label>
  </ion-item>
  <ion-item (click)="goToCoursDetail('SVT')">
    <ion-avatar slot="start">
      <img src="../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <h2>Finn</h2>
      <h3>I'm a big deal</h3>
      <p>Listen, I've had a pretty messed up day...</p>
    </ion-label>
  </ion-item>
  <ion-item color="tertiary">
    <ion-label>
      Physique-Chimie
    </ion-label>
  </ion-item>
  <ion-item (click)="goToCoursDetail('Physique-Chimie')">
    <ion-avatar slot="start">
      <img src="../../assets/icon/favicon.png">
    </ion-avatar>
    <ion-label>
      <h2>Finn</h2>
      <h3>I'm a big deal</h3>
      <p>Listen, I've had a pretty messed up day...</p>
    </ion-label>
  </ion-item>
  <!-- <app-explore-container name="Mes cours"></app-explore-container> -->
</ion-content>
