<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profil</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-icon slot="start" name="moon"></ion-icon> 
    <ion-label>Activer le mode sombre</ion-label>
    <ion-toggle slot="end"
    [ngModel]="darkmode"
    (ionChange)="selectDarkMode()"></ion-toggle>
  </ion-item>
  <div class="description">    
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/icon/favicon.png">
      </ion-avatar>
      <ion-label class="info">
        <h1 class="nom">Berthomé Théo</h1>
        <h3>Biographie: Étudiants en 4 ème année d'informatique à L'epsi de Nantes</h3>
        <div class="box">
          <ion-chip>
            <ion-icon name="home" ></ion-icon>
            <ion-label>Nantes</ion-label>
          </ion-chip>
          <ion-chip>
            <ion-icon name="school" ></ion-icon>
            <ion-label>Epsi</ion-label>
          </ion-chip>
        </div>
        <ion-button fill="clear" [routerDirection]="'root'" [routerLink]="['modify']"><ion-icon name="create" ></ion-icon> Modifier le profile</ion-button> 
      </ion-label>

    </ion-item>
  </div>
    <ion-list>
      <ion-list-header>
        Matières
      </ion-list-header>

      <ion-item>
        <ion-label>
          <h2>Mathématiques</h2>
          <h3>Je suis titulaire d'un bac S.</h3>
        </ion-label>
      </ion-item>
      

      <ion-item>
        <ion-label>
          <h2>Francais</h2>
          <h3>J'ai étudié le francais jusqu'en première avec un bon niveau j'ai lu vla les mangas</h3>
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-label>
          <h2>Histoire</h2>
          <h3>1515 Marignan</h3>
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>



