<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
       {{ cours }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ cours }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-tchat></app-tchat>

</ion-content>
